body {
    background-color: #e0e0e0;
    color: black;
    margin-left: 30px;
}
button {
    margin: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
@media screen and (max-width: 375px) {
    body {
        margin-left: 0px;
    }
    .flexParent {
        width: 300px;
    }
}

.searchResult {
    border-radius: 10px;
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
    text-align: center;
    display: inline-block;
    height: 155px;
    width: 100px;
    vertical-align: top;
    margin: 10px;
}
.searchHeader {
    display: inline-block;
    margin: 10px;
}
.searchPoster {
    margin-top: 5px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
.resultTitle {
    height: 2.5em;
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
#searchButton {
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
}

.informationView {
    border-radius: 50px;
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
    padding: 5px;
    margin: 10px;
    text-align: center;
    max-width: 500px;
}
.informationView #rating {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informationView #imdbLogo {
    height: 20px;
    margin-right: 5px;
}
.informationView #poster {
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    height: 250px;
}
.informationView #trailer {
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    height: 345px;
    width: 420px;
}
.informationView #trailer #embed {
    height: 345px;
    width: 420px;
}

.informationView #overview {
    margin: 10px;
    display: inline-block;
    width: 80%;
}
.informationView #whereToWatch {
    margin: 10px;
}
.informationView button {
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
}

.watchlistResult {
    color: white;
    width: 303px;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0px;
    left: -303px;
    transition: 0.5s;
    overflow: hidden;
    overflow-y: auto;
}
.openButton{
    background-color: rgba(219, 165, 6);
    height: 40px;
    width: 100px;
    position: fixed;
    left: 0px;
    margin-left: -30px;
    top: calc(50% - 50px);
    transition: 0.5s;
    transform: rotate(90deg);
    border-radius: 10px  10px  0px  0px;
    color: white;
}
#watchlistBtnTitle {
    font-weight: bold;
    letter-spacing: 1px;
}
.watchlistTable{
    border-collapse: separate;
    border-spacing: 0 1em; 
    width: 285px;
    margin: auto;
    
}
.watchlistTr{
    border: 2px solid rgba(128, 128, 128, 0.822);
    height: 50px;
    border-radius: 25px;
}

.deleteButton{
   position: absolute;
    margin-left: 25px;
    margin-top: -25px;
    background-color: transparent;
    color: white;
    border: none;
}

.deleteButtonRow{
    width: 50px;
}

.addToHistory{
    border-radius:10px;
    background-color: transparent;
    color: white;
    font-size: 10px;
    width: 45px;
    height: 25px;
    border: rgb(109, 109, 109) 1px solid;
}

.addToHistoryRow{
    position: absolute;
    margin-left: -48px;
    margin-top: 30px;
}

.clearButton{
    margin-right: 50px;
    position: absolute;
    right: -40px;
    top: 56px;
}
.swapButton{
    margin-right: 50px;
    position: absolute;
    right: -40px;
    top: 10px;

}
.overview {
    width: 80%;
    display: inline-block;
}
.rating {
    margin: 5px;
}

.leftMargin {
    margin-left: 30px;
}

.title {
    background-color: azure;
    font-size: 20px;
}

.loginHeader {
    position: fixed;
    left: 42%;
    text-align: center;
    background-color:goldenrod;
    color: black;
    font-size: 64px;
}

.loginButtons {
    position:fixed; top: 15%;
    left: 45%
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
}

.notifyUser{
    background:rgba(144, 218, 70, 0.5);
    padding: 20px 40px;
    width: 200px;
    position: fixed;
    right: -300px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #116e11;
    border-right: 8px solid #116e11;
    transition: 0.5s;
}

.msg{
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    color: #1a1a1d;
}

.page-wrapper {
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
}
.btn-wide {
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-normal {
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
  }
  
.btn-pressed {
    box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
}
  
.btn-normal:active {
    box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
    font-size: 16px;
    user-select: none;
}
