body {
    background-color: #474747;
    color: white;
}

.searchResult {
    border: solid #1a1a1d;
    border-radius: 10px;
    margin: 3px;
    background: #868686;
    text-align: center;
    display: inline-block;
    height: 150px;
    width: 100px;
    vertical-align: top;
}
.resultTitle {
    height: 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detailedResults {
    border: solid black;
    border-radius: 10px;
    margin: 3px;
    background: #5e5e5e;
    text-align: center;
    max-width: 500px;
}

.watchlistResult {
    width: 303px;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0px;
    left: -303px;
    transition: 0.5s;
    overflow: hidden;
    overflow-y: auto;
}

.openButton{
    background-color: red;
    height: 100px;
    width: 40px;
    position: fixed;
    left: 0px;
    top: calc(50% - 50px);
    transition: 0.5s;
}

.watchlistTable{
    border-collapse: separate;
    border-spacing: 0 1em; 
    width: 285px;
    margin: auto;
    
}

.watchlistTr{
    border: 2px solid rgba(128, 128, 128, 0.822);
    height: 50px;
    border-radius: 25px;
}

.deleteButton{
   border-radius: 10px;
   position: absolute;
    margin-left: 25px;
    margin-top: -25px;
}

.deleteButtonRow{
    width: 50px;
}

.addToHistory{
    border-radius:10px;
}

.addToHistoryRow{
    position: absolute;
    margin-left: -48px;
    margin-top: 30px;
}

.editButton{
    margin-right: 50px;
}
.swapButton{
    margin-right: 50px;
    position: absolute;
    right: -40px;
    top: 10px;

}
.overview {
    width: 80%;
    display: inline-block;
}
.rating {
    margin: 5px;
}

.leftMargin {
    margin-left: 30px;
}

.logButton {
    margin-right: 50px;
    position: absolute;
    right: -40px;
    bottom: 10px;
}

.title {
    background-color: azure;
    font-size: 20px;
}

.loginHeader {
    position: fixed;
    left: 42%;
    text-align: center;
    background-color:goldenrod;
    color: black;
    font-size: 64px;
}

.loginButtons {
    position:fixed; top: 15%;
    left: 45%
}

