body {
    background-color: #474747;
    color: white;
}

.searchResult {
    border: solid #1a1a1d;
    border-radius: 10px;
    margin: 3px;
    background: #868686;
    text-align: center;
    display: inline-block;
    height: 150px;
    width: 100px;
    vertical-align: top;
}
.resultTitle {
    height: 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detailedResults {
    border: solid black;
    border-radius: 10px;
    margin: 3px;
    background: #5e5e5e;
    text-align: center;
    max-width: 500px;
}
.overview {
    width: 80%;
    display: inline-block;
}
.rating {
    margin: 5px;
}

